<form name="new" novalidate>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <p class="navbar-text pull-left">
                <a href="#/manager/{{model.managerId}}/campaign" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand">New Campaign</a>
            <p class="navbar-text pull-right">
                <button type="submit" style="background-color:#222222; border:none" ng-click="new.$valid && model.createCampaign(model.campaign)" class="navbar-link">
                  <span class="glyphicon glyphicon-ok white">
                  </span>
                </button>
            </p>
        </div>
    </nav>

    <div class="alert alert-danger" ng-show="new.$submitted && new.$invalid">
        <strong>Error</strong> Please check that all fields are valid
    </div>

    <div class="container">
        <div class="form-group">
            <label for="name">Campaign Name</label>
            <input ng-model="model.campaign.name" type="text" class="form-control" id="name" name="name" placeholder="Campaign Name" required>
            <span ng-show="new.$submitted && new.name.$invalid">Name is required</span>
        </div>
        <div class="form-group">
            <label for="description">Campaign Description</label>
            <textarea ng-model="model.campaign.description" class="form-control" rows="3" id="description" placeholder="Campaign Description"></textarea>
        </div>
    </div>
</form>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#/manager/{{model.managerId}}" class="navbar-link">
              <span class="glyphicon glyphicon-user white">
              </span>
            </a>
        </p>
    </div>
</nav>