<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Websites</a>
        <p class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}/website/new" class="navbar-link">
          <span class="glyphicon glyphicon-plus">
          </span>
            </a>
        </p>
    </div>
</nav>


<div ng-repeat="website in model.websites" class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="#/user/{{model.userId}}/website/{{website._id}}/page">{{website.name}}</a>
            <a href="#/user/{{model.userId}}/website/{{website._id}}" class="pull-right">
                <span class="icon-stack">
                   <i class="glyphicon glyphicon-cog"></i>
                   <i class="glyphicon glyphicon-play"></i>
                </span>
            </a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}" class="navbar-link">
              <span class="glyphicon glyphicon-user blue">
              </span>
            </a>
        </p>
    </div>
</nav>