<div class="container">
    <div class="alert alert-danger" ng-show="register.$submitted && register.$invalid">
        <strong>Error</strong> Please check that all fields are valid
    </div>
    <h1>Register</h1>
    <form name="register" novalidate>
        <input ng-model="model.user.username" type="text" class="form-control" name="username" placeholder="username" required/>
        <span ng-show="register.$submitted && register.username.$invalid">Username is required</span>
        <input ng-model="model.user.password" type="password" class="form-control" name="password" placeholder="password" required/>
        <span ng-show="register.$submitted && register.password.$invalid">Password is required</span>
        <input ng-model="model.user.verifyPassword" ng-pattern="model.user.password" type="password" class="form-control" name="verify" placeholder="verify password" required/>
        <span ng-show="register.$submitted && register.verify.$error.pattern">Passwords don't match</span>
        <button type="submit" ng-click="register.$valid && model.register(model.user.username, model.user.password)" class="btn btn-primary btn-block">Register</button>
    </form>
    <a href="#/login" class="btn btn-danger btn-block">Cancel</a>
</div>