<form name="widget" novalidate>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">Widget Edit</a>
            <p class="navbar-text pull-right">
                <button type="submit" ng-click="widget.$valid && model.updateWidget(model.widget)" style="border:none;background-color:#F8F8F8;" class="navbar-link">
                      <span class="glyphicon glyphicon-ok">
                      </span>
                </button>
            </p>
        </div>
    </nav>

    <div class="alert alert-danger" ng-show="widget.$submitted && widget.$invalid">
        <strong>Error</strong> Please check that all fields are valid
    </div>

    <div class="container">
        <div class="form-group">
            <label for="name">Name</label>
            <input ng-model="model.widget.name" type="text" class="form-control" id="name" name="name" required>
            <span ng-show="widget.$submitted && widget.name.$invalid">Name is required</span>
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <input ng-model="model.widget.text" type="text" class="form-control" id="text">
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <input ng-model="model.widget.url" type="text" class="form-control" id="url">
        </div>
        <div class="form-group">
            <label for="width">Width</label>
            <input ng-model="model.widget.width" type="text" class="form-control" id="width">
        </div>

        <a ng-click="model.deleteWidget()" class="btn btn-danger btn-block">Delete</a>
    </div>
</form>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}" class="navbar-link">
                  <span class="glyphicon glyphicon-user blue">
                  </span>
            </a>
        </p>
    </div>
</nav>