<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Ads Manager</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#"><span class="glyphicon glyphicon-home white"></span> Home</a></li>
                <li><a href="#/manager/login">Manager Login</a></li>
                <li><a href="#/user/login">User Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="intro">
    <h1>Ads Manager</h1>
    <h3>Marketing Management Made Easy</h3>
</div>

<div class="content-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr>
                <img class="img-responsive" src="../../uploads/project.png">
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <br/><br/>
                <h2 class="section-heading">CS5610 Project - Ads Manager</h2>
                <blockquote>
                    <p>
                    <h4>
                        This is a web application for marketing managers to manage ad campaigns and assign
                        users to specific ad campaigns. Their are two classes of users: managers and general users.
                        Managers can create and manage campaigns, ads and users. They can assign users to specific campaigns
                        and correspond with their users through a messaging system. Users have their accounts created by managers
                        and are granted access to campaigns by their managers. Once they have access to a campaign, they can create
                        and manage ads for that campaign. They also have the ability to message their manager if need be.
                    </h4>
                    </p>
                </blockquote>
            </div>
        </div>
    </div>
</div>

<div class="content-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr>
                <br/><br/>
                <br/><br/>
                <a href="assignment/index.html"><h2 class="section-heading">Getting Started</h2></a>
                <blockquote>
                    <p>
                    <h4>
                        <dd>To get started, all you need to do is go to the "Manager Login" link in the navigation bar above and either register an account or login through Google.
                    </h4>
                    </p>
                    <p>
                    <h4>
                        <dd>To jump into making ads, just go to the "Campaigns" tab once you've signed up, create a campaign (just name and describe it), select the campaign and then click "Create Ad". That's it, just fill in the ad info, demographic info and either link or upload the graphic.
                    </h4>
                    </p>
                </blockquote>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <br/><br/>
                <img class="img-responsive" src="../uploads/started.png">
            </div>
        </div>
    </div>
</div>

<a name="about"></a>
<div class="content-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr>
                <br/><br/>
                <img class="img-responsive" src="../uploads/users.png" align="right">
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <br/><br/>
                <a href="assignment/index.html"><h2 class="section-heading">Adding Users</h2></a>
                <blockquote>
                    <p>
                    <h4>
                        This application is primarily designed around having multiple campaigns and having different users working on different campaigns. To get users access to your campaigns, you first have to add users. To do this, just select the "Users" tab from the navigation bar and then select "Add User". From here, all you need to do is enter a username and password, and pass that info along to whoever you want to give access to the account to. They can login from the "User Login" tab from this page.
                    </h4>
                    </p>
                </blockquote>
            </div>
        </div>
    </div>
</div>

<a name="contact"></a>
<div class="content-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr>
                <br/><br/>
                <br/><br/>
                <a href="assignment/index.html"><h2 class="section-heading">Managing Campaigns</h2></a>
                <blockquote>
                    <p>
                    <h4>
                        In the "Campaigns" tab, making a campaign is pretty simple. All you have to do is select "Create Campaign" and give it a name and description. What makes this application useful is the ability to assign different users to different campaigns. To do this, after you've created a campaign, select the cog next to it's name in the list. From here, you can edit the name/description, or add users.
                    </h4>
                    </p>
                    <p>
                    <h4>
                        To add a user, simply select "Add User" from the Edit Campaign tab you're in and you should see a list of all the users you've added. You can search for the user you want, or simply select them from the list. That's it, do this for as many users as you want or as many campaigns as you want. Campaigns can have multiple users and users can have access to multiple campaigns. Users with access to a campaign can't edit the campaign, but they can create, edit and delete ads in the campaign.
                    </h4>
                    </p>
                </blockquote>
            </div>
            <br/><br/>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <br/><br/>
                <img class="img-responsive" src="../uploads/campaign.png" align="left">
            </div>
        </div>
    </div>
</div>

<div class="content-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr>
                <br/><br/>
                <img class="img-responsive" src="../uploads/newad.png" align="right">
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <br/><br/>
                <a href="assignment/index.html"><h2 class="section-heading">Ads</h2></a>
                <blockquote>
                    <p>
                    <h4>
                        Ads are the heart of this application. Managers and users who have access to a campaign, have access to the same ad functionality. They can create, edit and delete ads in a campaign.
                    </h4>
                    </p>
                    <p>
                    <h4>
                        To create an ad, simply select "Create Ad". For each ad, enter a name, description and demographic information. After that, you can either upload or link the actual graphic advertisement. Uploaded files take precedent over linked images.
                    </h4>
                    </p>
                    <p>
                    <h4>
                        Editing and deleting ads are simple. Just select the ad from the list, and it will bring you to a page where you can either select "Delete" or edit the ad or demographic information. You can't change an ad's image after it's created, however.
                    </h4>
                    </p>
                </blockquote>
            </div>
        </div>
    </div>
</div>

<a name="contact"></a>
<div class="content-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr>
                <br/><br/>
                <br/><br/>
                <a href="assignment/index.html"><h2 class="section-heading">Messaging</h2></a>
                <blockquote>
                    <p>
                    <h4>
                        Last, but not least, managers and users can interact by sending messages. The "Messages" tab displays any messages you've been sent and a "Create Message" button. For users, all you have to do is enter the subject and message and send, and it gets sent to your manager.
                    </h4>
                    </p>
                    <p>
                    <h4>
                        Managers have a few more options. They can either click on a user name from the "Users" tab which will link to a "New Message" window to that user, or alternatively they can click "Create Message" from the "Messages" tab. From there it will bring up a searchable list of users, where you can select the user you wish to message.
                    </h4>
                    </p>
                </blockquote>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <br/><br/>
                <img class="img-responsive" src="../uploads/messages.png" align="left">
            </div>
        </div>
    </div>
</div>

<div class="content-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr>
                <br/><br/>
                <img class="img-responsive" src="../uploads/search.png" align="right">
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <br/><br/>
                <a href="assignment/index.html"><h2 class="section-heading">Searching</h2></a>
                <blockquote>
                    <p>
                    <h4>
                        To make finding users easier for managers, you can search users both when adding a user to campaigns or when sending a message. Initially, every user will be visible, but you can narrow the list by searching any part within the username.
                    </h4>
                    </p>
                </blockquote>
            </div>
        </div>
    </div>
</div>
